@model IEnumerable<Expenses.Models.Expense>

@{

    ViewData["Title"] = "Expenses";

    Pager pager = new();

    int pageNumber = 0;

    if (ViewBag.pager != null)
    {
        pager = ViewBag.pager;
        pageNumber = pager.CurrentPage;
    }

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

<div id="allExpensesTable">
    <p>
        <a id="aspa" asp-action="Create">Create New</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ExpenseName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExpenseAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExpenseCategory)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExpenseDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpenseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpenseAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpenseCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpenseDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ExpenseID">Edit</a> 
                    <a asp-action="Details" asp-route-id="@item.ExpenseID">Details</a> 
                    <a asp-action="Delete" asp-route-id="@item.ExpenseID">Delete</a>
                
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>

<div class="container">
    @if (pager.TotalPages > 0)
        {
            <ul class="pagination justify-content-end">


                @if (pager.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Expense" asp-action="Index" asp-route-page="1">First</a>
                    </li>
                    <li>
                        <a class="page-link" asp-controller="Expense" asp-action="Index" asp-route-page="@(pager.CurrentPage-1)">Previous</a>
                    </li>
                }
                @for (var pg = pager.StartPage; pg <= pager.EndPage; pg++)
                {
                    <li class="page-item @(pg == pager.CurrentPage ? "active" : "")">
                        <a class="page-link" asp-controller="Expense" asp-action="Index" asp-route-page="@pg"> @pg</a>

                    </li>
                }

                @if (pager.CurrentPage < pager.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Expense" asp-action="Index" asp-route-page="@(pager.CurrentPage+1)">Next</a>
                    </li>
                    <li>
                        <a class="page-link" asp-controller="Expense" asp-action="Index" asp-route-page="@pager.TotalPages">Last</a>
                    </li>
                }
            </ul>
        }
</div>
</body>
</html>
